body {
    font-family: 'Poppins';
    color: #000000;
    text-align: center;
    justify-content: center;
}

.imagem {
    display: block;
    width: 300px;
    height: 300px;
    justify-content: center;
    text-align: center;
    margin-left: 150px;
}

h1 {
    font-weight: bold;
    display: flex;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 30.94px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

p {
    bottom: 2px;
    width: 299px;
    margin: 0 auto;
    height: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.2px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 7px 0;
}


a {
    text-decoration: none;
    display: -moz-inline-box;
    color: white;
    font-size: 18px;
}

button {
    background: #92E3A9;
    border-radius: 100px;
    padding: 15px;
    cursor: pointer;
    border: none;
    font-size:16p;
    margin-left: 12px;
}

.botao-continue {
    cursor: pointer;
    width: 308px;
    height: 54px;
    margin-top: 20px;
    margin-left: 9px;
    background:  #92E3A9;
    box-shadow: 0px 4px 10px #A1C3FC;
    font-size: 18px;
    color: white;
    border: none;
    padding-bottom: 12px;
}

.botao-started {
    cursor: pointer;
    width: 308px;
    height: 54px;
    margin-top: 20px;
    margin-left: 9px;
    background:  #92E3A9;
    box-shadow: 0px 4px 10px #A1C3FC;
    font-size: 18px;
    color: white;
    border: none;
    padding-bottom: 12px;
}

.pular {
    width: 36px;
    height: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23.2px;
    color: #92E3A9;
    margin-bottom: 195px;
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: 290px;
    padding-top: 16px;
}
