@charset "UTF-8";

@media screen and (min-width: 280px) {
header {
  display:inline-block ;
  text-align: center;
  justify-content: center;

}

@media screnn and (min-width: 540px) {
    .imagem {
    }
    .h1 {
    }
    }
  }

@media screen and (min-width: 375px) {
    .pular {
    }   
}