@charset "UFT-8";

@media screen and (min-width: 280px) {
    .botao-inicio {
        position: absolute;
        width: 184px;
        height: 205.05;
        left: 50%;
        top: 50%;
        margin-left: -92px;
        margin-top: -102.25px;
    }
}